<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

  <nav class="nav-menu">
      <ul>
     <img src="../../../assets/img/logo.png" width="100" alt="">
      <li routerLinkActive="active"><a routerLink="home"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
      <li routerLinkActive="active"><a routerLink="cajeros"><i class="bx bx-book-content"></i> <span>Cajeros Automáticos</span></a></li>
      <li routerLinkActive="active"><a routerLink="bancos"><i class="bx bx-server"></i> <span>Banco</span></a></li>
      <li routerLinkActive="active"><a routerLink="atms"><i class="bx bx-file-blank"></i> <span>ATM´s</span></a></li>
    </ul>
  </nav><!-- .nav-menu -->

</header><!-- End Header -->