

<div class="animate__animated animate__fadeIn w-800">
    <div class="card-body">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">
            <agm-marker [iconUrl] ="file.icono" *ngFor="let marcador of marcadores; let i = index" [latitude]="marcador.lat" [longitude]="marcador.lng">
                <agm-info-window >
                    <div class="card text-white mb-3 bbva-primary" style="max-width: 25rem;">
                        <div class="card-body">
                          <h5 class="card-title"><b>Dirección: </b>{{marcador.titulo}}</h5>
                          <p class="card-text"><b>Código Postal: </b>{{marcador.codigo}}</p>
                          <br>
                          <br>
                          <p>Horarios de Atención:</p>
                          <p class="card-text"><b>Lunes a Viernes: </b>24Hrs</p>
                          <p class="card-text"><b>Sábado y Domingo: </b>7 a 14hrs</p>
                        </div>
                    </div>
                    
                </agm-info-window>
            </agm-marker>
        </agm-map>
        
    </div>
  </div>