<!-- ======= Bancos Section ======= -->
<section id="atm" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Busca tu ATM más cercano</h2>
        <p>{{info.atms}}</p>
      </div>

      <div class="row">

        <div class="map">
          <app-mapa></app-mapa>
        </div>

        

      </div>

    </div>
</section><!-- Bancos Section -->


  <app-footer></app-footer>

  
  <a href="#atm" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
