<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
      <img [src]="logo" width="100" alt="">
      <p>{{info.direccion}}</p>
      <div class="social-links">
        <a target="_blank" href= {{info.twitter}} class="twitter"><i class="bx bxl-twitter"></i></a>
        <a target="_blank" href= {{info.facebook}} class="facebook"><i class="bx bxl-facebook"></i></a>
        <a target="_blank" href={{info.instagram}} class="instagram"><i class="bx bxl-instagram"></i></a>
        <a target="_blank" href={{info.linkedin}} class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        <a target="_blank"href={{info.terms}}>{{info.info}}</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  
  <!-- <div id="preloader"></div> -->
